@CHARSET "UTF-8";

table#dist_man input{
	width: 100px;
}

.new{
  background-color: #bbffbb;
}

.even{
  background-color: #eeeebb;
}

.sum{
  background-color: yellow;
  font-weight: bold;
}

.deposit{
  background-color: lime;
  font-weight: bold;
}

.debit{
  background-color: orange;
  font-weight: bold;
}

.management input{
  border: 0 none;
  background-color: transparent;
}


ul.menu li{
  display: inline;
}

ul.warnings{
	position: fixed;
	border-radius: 5px;
	top: 0;
	margin: 2px;
	padding: 5px;
	list-style-position: inside;
	background-color: orange;
	font-weight: bold;
}
