@CHARSET "UTF-8";

table#dist_man input{
	width: 100px;
}

.new{
  background-color: #bbffbb;
}

.even{
  background-color: #eeeebb;
}

.sum{
  background-color: yellow;
  font-weight: bold;
}

.deposit{
  background-color: lime;
  font-weight: bold;
}

.debit{
  background-color: orange;
  font-weight: bold;
}

input{
  border: 0 none;
  background-color: transparent;
}


ul.menu li{
  display: inline;
}

ul.warnings{
	position: fixed;
	border-radius: 5px;
	top: 0;
	margin: 2px;
	padding: 5px;
	list-style-position: inside;
	background-color: orange;
	font-weight: bold;
}

.footline{
	position: fixed;
	bottom: 0px;
}


.overview td{
	padding-bottom: 18px;
}

.bubble, .rbubble{
	font-weight: bold;
position: relative;
width: 260px;
padding: 16px 5px 10px 5px;
background: #C0FFC0;
-webkit-border-radius: 35px;
-moz-border-radius: 35px;
border-radius: 35px;
border: #7F7F7F solid 6px;
}

.bubble:after{
content: '';
position: absolute;
border-style: solid;
border-width: 0 20px 15px;
border-color: #C0FFC0 transparent;
display: block;
width: 0;
z-index: 1;
top: -15px;
left: 55px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 25px 20px;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
top: -26px;
left: 50px;
}

.rbubble:after{
content: '';
position: absolute;
border-style: solid;
border-width: 0 20px 15px;
border-color: #C0FFC0 transparent;
display: block;
width: 0;
z-index: 1;
top: -15px;
right: 55px;
}

.rbubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 25px 20px;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
top: -26px;
right: 50px;
}
